<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-phone"></i>
                781-249-9293
            </div>
            <div class="col-md-4">
                <i class="fas fa-envelope-open"></i>
                <a href = "mailto:qm28@georgetown.edu?subject = Feedback&body = Message">qm28@georgetown.edu</a>
            </div>
            <div class="col-md-4">
                <div class="social text-right">
                    <a href="http://www.linkedin.com/in/qingyuanm94">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="https://www.instagram.com/qingyuan.ma/">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>